<div style="text-align: center">
  <h1 style="padding: 1rem">
    {{ title }}!
  </h1>
</div>
<div style="text-align: center; margin-bottom: 25px;">
  <!-- <label>Name : </label>
  <input #Name type="text">
  <button (click)="InputName(Name.value)">Submit</button>
  <br><br> -->
  <h2> Welcome to Mie Gacoan!</h2>
  <br>
  <button [routerLink]="['..','cashier']" (click)="show()">Show Cashier</button>
  <br><br>
  <button [routerLink]="['..','employee']" (click)="show()">Show Employee</button>
</div>

<div>
  <router-outlet *ngIf='isChild'></router-outlet>
</div>
